body,
html {
    font-size: 1.2em;
    line-height: 1.2;
    color: #fff;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #141414;
    width: 100%;
    height: 100%;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,
li {
    color: #fff;
    font-size: 2em;
}

header,
.navbar {
    background: linear-gradient(black, #141414);
    z-index: 2;
    .container-fluid {
        padding-top: 0;
        padding-bottom: 0;
        #logo {
            width: 4em;
        }
        .navbar {
            background: transparent;
        }
        #search {
            width: 1.3em;
        }
        #jingle {
            width: 1.3em;
        }
        #gift {
            width: 1.3em;
        }
        #imgProfile {
            width: 1.6em;
        }
        #imgProfile2 {
            width: 1.5em;
            position: absolute;
        }
        #navbarNav {
            .navbar-nav {
                margin-left: 0vw;
                .nav-link {
                    font-size: 0.35em;
                    color: #fff;
                    &:hover {
                        opacity: 65%;
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    header,
    .navbar {
        .container-fluid {
            #logo {
                width: 3em;
            }
            #imgProfile2 {
                width: 1.3em;
                position: absolute;
            }
            #search {
                width: 1em;
            }
        }
    }
}

@media (min-width: 1200px) {
    header,
    .navbar {
        .container-fluid {
            #navbarNav .navbar-nav {
                margin-left: -40vw;
            }
            #search {
                width: 1.1em;
            }
            #jingle {
                width: 1.1;
            }
            #gift {
                width: 1.1;
            }
            #imgProfile {
                width: 1.6em;
            }
            #imgProfile2 {
                width: 1.5em;
                position: absolute;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    header,
    .navbar {
        .container-fluid {
            #navbarNav .navbar-nav {
                margin-left: -40vw;
            }
            #search {
                width: 1.1em;
            }
            #jingle {
                width: 1.1;
            }
            #gift {
                width: 1.1;
            }
            #imgProfile {
                width: 1.6em;
            }
            #imgProfile2 {
                width: 1.5em;
                position: absolute;
            }
        }
    }
}