body,
html {
    font-size: 99.5%;
    line-height: 1.2;
    color: #fff;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #141414;
    width: 100%;
    height: 100%;
}

header {
    top: 0;
    display: flex;
    position: fixed;
    width: 100%;
    height: 14%;
    background: #141414;
    #logo {
        position: absolute;
        vertical-align: middle;
        margin-right: 5px;
        padding-top: 1.5%;
        left: 2%;
        display: inline-block;
        max-width: 5em;
        width: 90%;
        height: auto;
    }
    #nav-bar-1 {
        left: 9%;
        position: absolute;
        align-self: flex-start;
        display: inline-block;
        align-items: center;
        justify-content: space-between;
    }
    .icon-top-bar {
        font-size: 0.7em;
        background: transparent;
        color: #fff;
        text-decoration: none;
        padding: 0.1em 0.5em;
        &:hover {
            opacity: 65%;
        }
    }
    #nav-bar-2 {
        position: absolute;
        right: 4%;
        justify-content: flex-end;
        align-items: center;
        justify-content: space-between;
        ul {
            li {
                display: inline-block;
                button {
                    background-color: transparent;
                    border: none;
                    img {
                        width: 1em;
                        height: auto;
                    }
                    #imgPerfil {
                        width: 1.5em;
                        height: auto;
                    }
                }
            }
        }
    }
}