body,
html {
    font-size: 99.5%;
    line-height: 1.2;
    color: #fff;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #141414;
    width: 100%;
    height: 100%;
}

header {
    top: 0;
    left: 0;
    display: block;
    position: fixed;
    width: 98.5vw;
    height: 14%;
    background: linear-gradient(black, #141414);
    z-index: 2;
    #logo {
        position: absolute;
        vertical-align: middle;
        margin-right: 5px;
        top: 15%;
        left: 3%;
        display: inline-block;
        max-width: 6.5em;
        width: 90%;
        height: auto;
    }
    #nav-bar-1 {
        width: 100vw;
        top: 3%;
        left: 14vw;
        font-weight: bolder;
        position: absolute;
        align-self: flex-start;
        display: inline-block;
        align-items: center;
        justify-content: space-between;
    }
    .icon-top-bar {
        font-size: 0.9em;
        background: transparent;
        color: #fff;
        text-decoration: none;
        padding: 0.1em 0.5em;
        &:hover {
            opacity: 65%;
        }
    }
    #nav-bar-2 {
        position: absolute;
        right: 3%;
        justify-content: flex-end;
        align-items: center;
        justify-content: space-between;
        ul {
            li {
                display: inline-block;
                margin: auto;
                button {
                    background-color: transparent;
                    border: none;
                    img {
                        width: 1.5em;
                        height: auto;
                    }
                    #imgPerfil {
                        width: 1.8em;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media(max-width: 1248px) {
    header {
        width: 100vw;
    }
}

@media(max-width: 770px) {
    header {
        width: 100vw;
        #nav-bar-1 {
            left: 20vw;
        }
    }
}

@media (max-width:550px) {
    header {
        width: 100%;
        #nav-bar-1 {
            top: 50%;
            left: auto;
            margin-left: 8%;
            right: auto;
            width: 500px;
            .icon-top-bar {
                padding: 0.1em 1.5em;
            }
        }
    }
}

@media(max-width:403px) {
    header {
        width: 100%;
        #nav-bar-1 {
            top: 50%;
            left: auto;
            margin-left: -2%;
            right: auto;
            width: 500px;
            .icon-top-bar {
                padding: 0.1em 1.5em;
            }
        }
    }
}