body,
html {
    font-size: 99.5%;
    line-height: 1.2;
    color: #fff;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #141414;
    width: 100%;
    height: 100%;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,
li {
    color: #fff;
    font-size: 0.9em;
}

header,
.navbar {
    background: linear-gradient(black, #141414);
    z-index: 2;
    .container-fluid {
        padding-top: 0;
        padding-bottom: 0;
        #logo {
            width: 75px;
        }
        .navbar {
            background: transparent;
        }
        #search {
            width: 1em;
        }
        #jingle {
            width: 1em;
        }
        #gift {
            width: 1em;
        }
        #imgProfile {
            width: 1em;
        }
        #imgProfile2 {
            width: 1.5em;
            position: absolute;
        }
        #navbarNav {
            .navbar-nav {
                left: 500px;
                .nav-link {
                    font-size: 12px;
                    color: #fff;
                    &:hover {
                        opacity: 65%;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    header,
    .navbar {
        .container-fluid {
            .navbar-nav {
                margin-left: -35vw;
            }
            #search {
                width: 0.7em;
            }
            #jingle {
                width: 0.7em;
            }
            #gift {
                width: 0.7em;
            }
        }
    }
}