body,
html {
    font-size: 99.5%;
    line-height: 1.2;
    color: #fff;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #141414;
    width: 100%;
    height: 100%;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,
li {
    color: #fff;
    font-size: 0.9em;
}

header,
.navbar {
    background: linear-gradient(black, #141414);
    z-index: 2;
    .container-fluid {
        padding-top: 0;
        padding-bottom: 0;
        #logo {
            width: 75px;
        }
        #search {
            width: 0.8em;
        }
        #jingle {
            width: 0.7em;
        }
        #gift {
            width: 0.7em;
        }
        #imgProfile {
            width: 1em;
        }
        #imgProfile2 {
            width: 1.5em;
            position: absolute;
        }
        #navbarNav {
            .navbar-nav {
                .nav-link {
                    font-size: 12px;
                    color: #fff;
                    &:hover {
                        opacity: 65%;
                    }
                }
            }
        }
    }
}

#nav-bar-2 {
    position: absolute;
    right: 3%;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
    ul {
        li {
            display: inline-block;
            margin: auto;
            button {
                background-color: transparent;
                border: none;
                img {
                    width: 1.5em;
                    height: auto;
                }
                #imgPerfil {
                    width: 1.8em;
                    height: auto;
                }
            }
        }
    }
}

@media(max-width: 1248px) {
    header {
        width: 100vw;
    }
}

@media(max-width: 770px) {
    header {
        width: 100vw;
        #nav-bar-1 {
            left: 20vw;
        }
    }
}

@media (max-width:550px) {
    header {
        width: 100%;
        #nav-bar-1 {
            top: 50%;
            left: auto;
            margin-left: 8%;
            right: auto;
            width: 500px;
            .icon-top-bar {
                padding: 0.1em 1.5em;
            }
        }
    }
}

@media(max-width:403px) {
    header {
        width: 100%;
        #nav-bar-1 {
            top: 50%;
            left: auto;
            margin-left: -2%;
            right: auto;
            width: 500px;
            .icon-top-bar {
                padding: 0.1em 1.5em;
            }
        }
    }
}