.container-1 {
    top: 20%;
    position: relative;
    display: inline-block;
    width: 95%;
    height: auto;
    left: 0;
    h2 {
        position: relative;
        display: block;
        width: 50vw;
        padding: 5px;
        margin-left: 2vw;
        span {
            margin: auto;
            width: 90%;
            font-size: 0.8em;
            font-weight: bold;
        }
    }
    .slider-1 {
        display: inline-block;
        margin-left: -1.5vw;
        ul {
            max-width: 100vw;
            width: 95%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
            column-gap: 5px;
            row-gap: 1em;
            a {
                max-width: 250px;
                width: 100%;
                img {
                    max-width: 250px;
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                    &:hover {
                        transform: scale(1.3, 1.3);
                    }
                }
            }
        }
    }
}