.container-1 {
    top: 20%;
    position: relative;
    display: block;
    z-index: 1;
    max-width: 100vw;
    h2 {
        display: block;
        font-size: 0.8em;
        font-weight: bold;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 2.5%;
        margin-inline-end: 0px;
    }
    .slider-1 {
        display: inline-block;
        ul {
            top: 10%;
            width: 90%;
            max-width: 500px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
            column-gap: 5px;
            row-gap: 1em;
            a {
                max-width: 160px;
                width: 100%;
                img {
                    max-width: 150px;
                    width: 100%;
                    height: auto;
                    &:hover {
                        transform: scale(1.3, 1.3);
                    }
                }
            }
        }
    }
}