body,
html {
  font-size: 1.2em;
  line-height: 1.2;
  color: #fff;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #141414;
  width: 100%;
  height: 100%;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p,
li {
  color: #fff;
  font-size: 2em;
}

h2 {
  font-size: 5em;
}

header,
.navbar {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#141414));
  background: linear-gradient(black, #141414);
  z-index: 2;
}

header .container-fluid,
.navbar .container-fluid {
  padding-top: 0;
  padding-bottom: 0;
}

header .container-fluid #logo,
.navbar .container-fluid #logo {
  width: 4em;
}

header .container-fluid .navbar,
.navbar .container-fluid .navbar {
  background: transparent;
}

header .container-fluid #search,
.navbar .container-fluid #search {
  width: 1.3em;
}

header .container-fluid #jingle,
.navbar .container-fluid #jingle {
  width: 1.3em;
}

header .container-fluid #gift,
.navbar .container-fluid #gift {
  width: 1.3em;
}

header .container-fluid #imgProfile,
.navbar .container-fluid #imgProfile {
  width: 1.6em;
}

header .container-fluid #imgProfile2,
.navbar .container-fluid #imgProfile2 {
  width: 1.5em;
  position: absolute;
}

header .container-fluid #navbarNav .navbar-nav,
.navbar .container-fluid #navbarNav .navbar-nav {
  margin-left: -35vw;
}

header .container-fluid #navbarNav .navbar-nav .nav-link,
.navbar .container-fluid #navbarNav .navbar-nav .nav-link {
  font-size: 0.35em;
  color: #fff;
}

header .container-fluid #navbarNav .navbar-nav .nav-link:hover,
.navbar .container-fluid #navbarNav .navbar-nav .nav-link:hover {
  opacity: 65%;
}

@media (max-width: 575.98px) {
  header .container-fluid #logo,
  .navbar .container-fluid #logo {
    width: 3em;
  }
  header .container-fluid #imgProfile2,
  .navbar .container-fluid #imgProfile2 {
    width: 1.3em;
    position: absolute;
  }
  header .container-fluid #search,
  .navbar .container-fluid #search {
    width: 1em;
  }
}

@media (min-width: 1200px) {
  header .container-fluid #navbarNav .navbar-nav,
  .navbar .container-fluid #navbarNav .navbar-nav {
    margin-left: -40vw;
  }
  header .container-fluid #search,
  .navbar .container-fluid #search {
    width: 1.1em;
  }
  header .container-fluid #jingle,
  .navbar .container-fluid #jingle {
    width: 1.1;
  }
  header .container-fluid #gift,
  .navbar .container-fluid #gift {
    width: 1.1;
  }
  header .container-fluid #imgProfile,
  .navbar .container-fluid #imgProfile {
    width: 1.6em;
  }
  header .container-fluid #imgProfile2,
  .navbar .container-fluid #imgProfile2 {
    width: 1.5em;
    position: absolute;
  }
}

#slider-1 .carousel-control-prev {
  width: 5%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(5%, transparent), color-stop(95%, black));
  background: linear-gradient(to left, transparent 5%, black 95%);
}

#slider-1 .carousel-control-prev .carousel-control-prev-icon {
  width: 100%;
}

#slider-1 .carousel-control-next {
  width: 5%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, transparent), color-stop(95%, black));
  background: linear-gradient(to right, transparent 5%, black 95%);
}

#slider-1 .carousel-control-next .carousel-control-next-icon {
  width: 100%;
}

#slider-1 .d-block {
  border-radius: 5px;
}

#slider-1 .d-block:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.container-2 {
  top: 20%;
  position: relative;
  display: block;
  z-index: 1;
}

.container-2 h2 {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 2.5%;
          margin-inline-start: 2.5%;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.container-2 .slider-2 {
  margin-left: -2.5%;
}

.container-2 .slider-2 ul {
  padding: 0;
  top: 10%;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 3fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 3fr));
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 1em;
}

.container-2 .slider-2 ul a {
  max-width: 160px;
  width: auto;
}

.container-2 .slider-2 ul a img {
  max-width: 150px;
  width: 100%;
  height: auto;
}

.container-2 .slider-2 ul a img:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.container-3 {
  top: 20%;
  position: relative;
  display: block;
  z-index: 1;
}

.container-3 h2 {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 2.5%;
          margin-inline-start: 2.5%;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.container-3 .slider-3 {
  margin-left: -2.5%;
}

.container-3 .slider-3 ul {
  padding: 0;
  top: 10%;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 3fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 3fr));
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 1em;
}

.container-3 .slider-3 ul a {
  max-width: 160px;
  width: auto;
}

.container-3 .slider-3 ul a img {
  max-width: 150px;
  width: 100%;
  height: auto;
}

.container-3 .slider-3 ul a img:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}
/*# sourceMappingURL=main.css.map */