.slider {
    display: grid;
    margin: auto;
    max-width: 1200px;
    width: 90%;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    column-gap: 10px;
    row-gap: 30px;
    align-items: flex-end;
}

.img-slide {
    margin: auto;
    max-width: 600px;
    width: 90%;
    height: auto;
}

.img-slide:hover {
    transform: scale(1.1, 1.1);
}

h2 {
    font-size: 1.2em;
    position: relative;
    margin-left: 2.5em;
    margin-top: 0em;
}